.subtitle-h1 {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom:-10px;
    z-index: 10;
}

.title-h1 {
    
    position: relative;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
    z-index: 10;
}
.banner-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .5;
    z-index: 1;
}

.banner-section {
    position: relative;
    background-image: url('../../assets/img/lading-banner-2.jpg');
    background-size: cover;
    background-position: left center;

    &__row {
        padding-top: 170px;
        padding-bottom: 170px;
    }
    &__col {
        margin: auto;
        width: 630px;
    }
    &__container {
        position: relative;
    }
    &__search-container {
        
        position: relative;
        width: 520px;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        padding: 4px;
        background-color: #fff;
        z-index: 10;
    }
    &__search-inp {
        width: 70%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-right: 5px;
        font-size: 16px;
        &::placeholder {
            color: #afafaf;
            font-weight:300;
        }
        &:active {
           outline:2px solid #29A9E1;
        }
    }
    &__search-btn {
        width: 30%;
        padding: 10px;
        border-radius: 0 5px 5px 0;
        transition: all .3s;
        background: #29A9E1;
        color: #fff;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        &:hover {
            background-color: #1896cc;
        }
        &:active {
            background-color: #29A9E1;
        }
    }
    &__result-search {
        position: absolute;
        background-color: #fff;
        top: 2px;
        width: 520px;
        border-radius: 10px;
        z-index: 10;
        overflow: hidden;
    }
    &__result-search-item {
        display: block;
        padding: 5px;
        transition: all .3s;
        &:hover {
            cursor: pointer;
            background-color: #dbdbdb;
        }
    }

    &__x-icon {
        width:  18px;
        position: absolute;
        top: -34px;
        right: 252px;
        z-index: 11;
        opacity: .3;
        transition: all 0.3s;
        &:hover {
            cursor: pointer;
            opacity: .6;
        }
    }
    
}
