.contacts {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    flex-grow: 1 ;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 228);
    &__header {
        margin-bottom: 30px;
    }
    &__item {
        margin-bottom: 20px;
    }
    &__p {
        font-size: 20px;
    }
    &__img {
        width: 30px;
        height: auto;
        margin-right: 20px;
    }
    &__container-item {
        margin-bottom: 10px;
    }
    &__link {
        padding: 20px;
        padding-left: 15px;
        border-radius: 10px;
        border: 1px solid rgb(228, 228, 228);
        transition: all 0.2s;
        &:hover {
            background-color: #f8f8f8;
            color: rgb(0, 104, 224);
            cursor: pointer;
        }
    }
}